<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div
          id="user-data"
          ngModelGroup="userData"
          #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              ngModel
              name="username"
              required>
          </div>
          <button
            class="btn btn-default"
            type="button"
            (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="email"
              id="email"
              class="form-control"
              ngModel
              name="email"
              required
              email
              #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email</span>
          </div>
        </div>
        <p *ngIf="!userData.valid && userData.touched">User data is invalid (the whole group)</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select
            id="secret"
            class="form-control"
            [ngModel]="defaultQuestion"
            name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea
            name="questionAnswer"
            rows="3"
            class="form-control"
            [(ngModel)]="answer"></textarea>
        </div>
        <p>your reply is: {{ answer }}</p>
        <div class="radio" *ngFor="let gender of gender">
          <label>
            <input
              type="radio"
              name="gender"
              ngModel
              [value]="gender"
              required>
            {{ gender }}
          </label>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!f.valid">Submit</button>
      </form>
      <hr>
    </div>
  </div>
  <div class="row col-xs-12" *ngIf="submitted">
    <h3>data summary:</h3>
    <p>Username: {{ user.username }}</p>
    <p>Mail: {{ user.email }}</p>
    <p>Secret: Your first {{ user.secretQuestion }}</p>
    <p>Answer: {{ user.answer }}</p>
    <p>Gender: {{ user.gender }}</p>
  </div>
</div>
<br>
<br>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <p>template-driven form assignment</p>
      <form (ngSubmit)="onSubmitFormTwo()" #f2="ngForm">
        <label for="email">Your email:</label>
        <input
          type="email"
          id="email"
          class="form-control"
          name="email"
          ngModel
          required
          email
          #email="ngModel">
        <p *ngIf="!email.valid && email.touched" class="alert alert-danger">this is not a valid e-mail address</p>
        <label for="subscription">Choose your subscription:</label>
        <select
          id="subscription"
          name="subscription"
          class="form-control"
          [ngModel]="defaultSubscription"
          >
          <option *ngFor="let subscription of subscriptions" [value]="subscription">{{ subscription }}</option>
        </select>
        <label for="password">Your password:</label>
        <input
          type="password"
          id="password"
          class="form-control"
          name="password"
          ngModel
          required
          #password="ngModel">
          <p *ngIf="!password.valid && password.touched" class="alert alert-danger">enter a password!</p>
        <p *ngIf="!f2.valid && f2.touched">THE FORM IS INVALID!!</p>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<br>
